body{
    font-family: 'Poppins', sans-serif ;
    margin: 0;
}
h1{
    font-size: 50px;
}
.color{
    color: orange;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 70%;
}
.fexi-container{
    display: flex;
    margin-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(Orange, tomato);
    padding: 10px 15px;
    color: white;
    font-weight: 700;
    border-radius: 15px;
}

.banner{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    }
.food-item{
    box-shadow: 10px 10px 40px gray;
    width: 20%;
    margin-left:5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 15px;
}
.food-item img{
    width: 80%;
    margin-top: 10px;
    margin-left: 15px;
}
.food-head{
    text-align: center;
}
.footer{
    text-align: center;

}
.footer-section{
    background-color: black;
}
.footer-head{
    color: gray;
}
.footer-pera{
    color:grey;
    text-align: center;
    padding-bottom: 15px;
}